<button id="toggle-sound">Enable Sound Notifications</button>

<div id="notifications-container" class="notification"></div>

<p class="chat">chat #<%= @chat.title.presence || @chat.id %>:</p>

<div id="messages" class="messages" data-chat-id=<%= @chat.id %>>
  <%= render @chat.messages %>
</div>

<%= render 'messages/form' %>

<p><%= link_to ":leave chat", root_path, class: "link" %></p>
